@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --violeta-gris: #555b9f;
    --violeta-gris-oscuro:#222c52;
    --font-nav: #fffbf4;
    --gris: #e2e2e2;
    --blanco: #ffffff;
    --verde-agua: #157e9b;
    --verde-agua-oscuro: #146188;
}

nav {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    background-color: var(--verde-agua);
    box-shadow:  0 10px 15px rgba(0, 0, 0,0.2);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--verde-agua-oscuro);
    color: var(--blanco);
}

.btnColor {
    background-color: var(--gris);
}

.navbar-brand {
    color: var(--font-nav);
}

.nav-link {
    color: var(--font-nav);
}

.nav-link:hover {
    color: var(--gris);
}

.titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
}

.titulo:hover {
    color: var(--font-nav);
}

.btn {
    border-radius: 24px;
    transition: 300ms;
    box-shadow:  0 10px 15px rgba(0, 0, 0,0.2);
}

.btn:hover {
    transform: scale(1.1)
}

th {
    font-size: 18px;
}

td {
    font-size: 15px;
}

.h1Size {
    font-size: 40px;
}